<h1>Welcome</h1>


<% if logged_in? %>
    <h1>You are Logged In as <%= current_user.username %></h1>
<%end%>

<% unless logged_in? %>
<%=  button_to "Login", '/login', method: :get %>
  <%=  button_to "Sign Up", '/users/new', method: :get %>
<% end%>




<% if logged_in? && current_user.usertype=="admin" %>
    <%= button_to "Create Admin / User", '/users/new', method: :get%>

<%end%>

<br>

<% if logged_in? %>
    <%= button_to "logout", sessions_path(current_user.id), :method=>:delete, :class=>:destroy %>
<%end%>

<%= link_to 'Applications', applications_path,class:"navbar-brand" %>

<%= link_to 'About', sessions_about_path,class:"navbar-brand" %>

<% if logged_in? && current_user.usertype=="admin" %>
  <%= link_to 'Users', users_index_path,class:"navbar-brand" %>

<%end%>
