<div id="<%= dom_id application %>">
  <p>
    <strong>Name:</strong>
    <%= application.name %>
  </p>

  <p>
    <strong>Roll:</strong>
    <%= application.roll %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= application.phone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= application.status %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= application.comment %>
  </p>
  <p>
    <strong>Team:</strong>
    <%= application.selectedsport %>
  </p>

</div>
